version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ma_base
      MYSQL_USER: mon_user
      MYSQL_PASSWORD: mon_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - web-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: rootpassword
      UPLOAD_LIMIT: 100M
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - web-network

  apache:
    image: php:8.2-apache
    container_name: apache_server
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./apache/public_html:/var/www/html
    depends_on:
      - mysql
    networks:
      - web-network

volumes:
  mysql_data:

networks:
  web-network:
    driver: bridge